{% extends 'base.html' %}

{% block title %}Utanger{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <form class="m-0 p-0" action="{% url 'dashboard' %}" method="GET" class="nav-btn-form">
            {% csrf_token %}
            <button class="bg-green-500 hover:bg-green-600 font-bold py-2 px-4 rounded cursor-pointer" type="submit">Dashboard</button>
        </form>
        <form class="m-0 p-0" action="{% url 'logout' %}" method="GET" class="nav-btn-form">
            {% csrf_token %}
            <button class="bg-green-500 hover:bg-green-600 font-bold py-2 px-4 rounded cursor-pointer" type="submit">Logout</button>
        </form>
    {% else %}
        <form class="m-0 p-0" action="{% url 'login' %}" method="GET" class="nav-btn-form">
            {% csrf_token %}
            <button class="bg-green-500 hover:bg-green-600 font-bold py-2 px-4 rounded cursor-pointer" type="submit">Login</button>
        </form>
        <form class="m-0 p-0" action="{% url 'signup' %}" method="GET" class="nav-btn-form">
            {% csrf_token %}
            <button class="bg-green-500 hover:bg-green-600 font-bold py-2 px-4 rounded cursor-pointer" type="submit">Sign Up</button>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <div class="text-center">
            <h1 class="text-4xl sm:text-8xl p-2 sm:p-5 bold">Utanger</h1>
            <h2 class="text-lh sm:text-4xl p-2 sm:p-4 italic">Your Personal Utang Tracker</h2>
        </div>
        <div class="w-full sm:w-2xl">
            <p class="text-base sm:text-xl p-5 text-justify">
                Utanger is a simple app that helps you keep track of your <em>“utangs”</em>—the money you owe others—and the amounts they owe you. Easily log transactions, monitor balances, and stay organized without awkward follow-ups. With automatic email reminders, Utanger gently notifies people about their dues, so you can settle payments smoothly and stress-free.
            </p>
        </div>
    </div>
{% endblock %}