{% extends 'base.html' %}

{% block title %}Utanger | Sign Up{% endblock %}

{% block nav %}
    <form class="m-0 p-0" action="{% url 'home' %}" method="GET" class="nav-btn-form">
        {% csrf_token %}
        <button class="bg-green-500 hover:bg-green-600 font-bold py-2 px-4 rounded cursor-pointer" type="submit">Back</button>
    </form>
{% endblock %}

{% block content %}
    <div>
        <h1 class="text-2xl sm:text-4xl p-5 font-bold text-center">Sign Up to Utanger</h1>
        <div>
            <form class="m-0 p-0 flex flex-col gap-4 justify-center items-center" method="POST">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label class="text-sm sm:text-base" for="id_username">Username:</label>
                    <input class="p-1 text-sm sm:text-base border border-white rounded" type="text" name="username" maxlength="128" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">
                </div>
                <div class="flex flex-col">
                    <label class="text-sm sm:text-base" for="id_email">Email:</label>
                    <input class="p-1 text-sm sm:text-base border border-white rounded" type="email" name="email" maxlength="128" required="" id="id_email">
                </div>
                <div class="flex flex-col">
                    <label class="text-sm sm:text-base" for="id_password1">Password:</label>
                    <input class="p-1 text-sm sm:text-base border border-white rounded" type="password" name="password1" maxlength="128" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                </div>
                <div class="flex flex-col">
                    <label class="text-sm sm:text-base" for="id_password2">Password confirmation:</label>
                    <input class="p-1 text-sm sm:text-base border border-white rounded" type="password" name="password2" maxlength="128" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2">
                </div>
                <button class="bg-green-500 hover:bg-green-600 m-2 py-2 px-4 text-xs sm:text-base font-bold rounded cursor-pointer" type="submit">Sign Up and Login</button>
            </form>
        </div>
    </div>
{% endblock %}